.inline-chart {
    width: 99%;
    display: inline-block;
    min-width: 300;
    min-height: 300;
}

.chart-title {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    margin-left: 5px;
    font-weight: bold;
}

.chart-text {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin-left: 5px;
    margin-bottom: 0px;
}

.chart-subtitle {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-left: 5px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 5px;
    min-width: 300px;
}

.highlight-red {
  fill: #a36774;
}

.highlight-gray {
  fill: #363636;
}

.highlight-yellow {
  fill: #ffec70;
}

.chart-tooltip {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-anchor: left;
  font-weight: bold;
}

.pie-chart{
  width: 33%;
  display: inline-block;
  align-content: left;
  min-width: 200;
  min-height: 200;
}
